<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{{ block('title') }} - App</title>
    {% block meta %}
        <meta name="keywords" content="parent keywords">
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body class="app">
<header class="app-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">

            <a class="navbar-brand" href="/">Application</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="{{ path('blog-index') }}" class="nav-link"><i
                                    class="glyphicon glyphicon-book"></i> Blog</a></li>
                    <li class="nav-item"><a href="{{ path('aboutPage') }}" class="nav-link"><i
                                    class="glyphicon glyphicon-book"></i> About</a></li>
                    <li class="nav-item"><a href="{{ path('cabinet-index') }}" class="nav-link"><i
                                    class="glyphicon glyphicon-user"></i> Cabinet</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<div class="app-content">
    <main class="container">
        {% block breadcrumbs %}{% endblock %}
        {% block content %}{% endblock %}
    </main>
</div>
<footer class="app-footer">
    <div class="container">
        <hr/>
        <p>&copy; {{ "now"|date("Y") }} - My App.</p>
    </div>
</footer>

<script src="/js/app.js"></script>
</body>
</html>