{% extends("layout/default.html.twig") %}
{% block title %}Blog Index{% endblock %}

{% block meta %}
    <meta name="description" content="Blog description"/>
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li class="active">Blog</li>
    </ul>
{% endblock %}

{% block content %}

    <h1>Blog</h1>
    {% for post in posts %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="pull-right">{{ post.date|date("Y-m-d") }}</span>
                <a href="{{ path('blog-post', {id : post.id}) }}">{{ post.title|escape }}</a>
            </div>
            <div class="panel-body">{{ post.content }}</div>
        </div>
    {% endfor %}

    {% include 'app/share/pagination.html.twig' with {
        'pager': pager,
        'indexRoute': "blog-index",
        'pageRoute': "blog-page"
    } %}

{% endblock %}
