{% extends("layout/default.html.twig") %}
{% block title %}{{ post.Title|escape }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ post.Meta.Description|escape }}"/>
    <meta name="keywords" content="{{ post.Meta.Keywords|escape }}"/>
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('blog-index') }}">Blog</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ post.title|escape }}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}

    <h1>{{ post.title|escape }}</h1>

    <div class="card mb-3">
        <div class="card-header">
            {{ post.create_date|date('Y-m-d') }}
        </div>
        <div class="card-body">{{ post.content_full|escape }}</div>
    </div>

    {% if post.comments|length > 0 %}
        <h2>Comments</h2>
        {% for comment in post.comments %}
            <div class="card mb-3">
                <div class="card-header">
                    <span class="pull-right">{{ comment.date|date('Y-m-d') }}</span>
                    {{ comment.author }}
                </div>
                <div class="card-body">{{ comment.text|nl2br }}</div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
